# Logs
logs
*.log
npm-debug.log*

#VS project files
.vs/
*.njsproj
*.sln
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.psess
*.vsp
*.vspx
*.sap
*.[Rr]e[Ss]harper
*.DotSettings.user
.ntvs_analysis.dat
.ntvs_analysis.dat.tmp

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Dependency directories
node_modules/
bower_components/

# Optional npm cache directory
.npm